<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chao.dbmanage.sys.dao.SysRoleDao">
	
	<update id="updateObject"
            parameterType="com.chao.dbmanage.sys.entity.SysRole">
         update sys_roles
         set
           name=#{name},
           note=#{note},
           modifiedUser=#{modifiedUser},
           modifiedTime=now()
        where id=#{id}
    </update>
	
	<!-- resultMap元素用于自定义结果映射,一般在select元素中
	进行关联使用. -->
	<resultMap type="com.chao.dbmanage.sys.vo.SysRoleMenuVo"
	           id="sysRoleMenuVo">
	       <id property="id" column="id"/>
	       <!--collection元素一般应用于one2many关系查询,
	              当前应用中就是基于角色id,在角色菜单关系中查询
	              对象的菜单id,并将其存储到SysRoleMenuVo对象的menuIds属性上.
	       -->
	        <collection property="menuIds"
	                    column="id"
	                    select="com.chao.dbmanage.sys.dao.SysRoleMenuDao.findMenuIdsByRoleId">
	        </collection>
	</resultMap>
	<!-- 基于角色id查询角色以及角色对应菜单id -->
	<select id="findObjectById"
	        resultMap="sysRoleMenuVo">
	    select id,name,note
	    from sys_roles
	    where id=#{id}
	</select>
	
	<!-- 将角色信息持久化到数据库
	其中:1)useGeneratedKeys表示使用insert操作写入到表中的主键值
	    2)keyProperty属性表示,将获取的主键值赋值给参数对象的id属性 -->
	<insert id="insertObject"
		parameterType="com.chao.dbmanage.sys.entity.SysRole"
		useGeneratedKeys="true"
		keyProperty="id">
		insert into sys_roles
		(id,name,note,createdTime,modifiedTime,
		createdUser,modifiedUser)
		values
		(null,#{name},#{note},now(),now(),
		#{createdUser},#{modifiedUser})
	</insert>
   
   <sql id="queryWhereId">
      from sys_roles
      <where>
           <if test="name!=null and name!=''">
              name like concat("%",#{name},"%")
           </if>
      </where>
   </sql>
   <!-- 分页查询当前页记录 -->
   <select id="findPageObjects"
           resultType="com.chao.dbmanage.sys.entity.SysRole">
          select *
          <include refid="queryWhereId"/>
          order by createdTime desc
          limit #{startIndex},#{pageSize}   
   </select>
   <!-- 统计记录数 -->
   <select id="getRowCount"
           resultType="int">
        select count(*)
        <include refid="queryWhereId"/>
   </select>
</mapper>







